body {
  background-color: black;
}

.scoreboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-family: 'Courier New', Courier, monospace;
}

.scoreboard__name,
.scoreboard__score {
  padding: 10px;
  text-align: center;
}

.scoreboard__score {
  color: whitesmoke;
}

.scoreboard__name {
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

.scoreboard__name--one {
  color: #009578;
}

.scoreboard__name--two {
  color: #2d0095;
}

.scoreboard__score {
  font-size: 2em;
}

.scoreboard__controls {
  display: flex;
  justify-content: center; /* Add this line to center the controls */
  align-items: center; /* Add this line to center the controls */
}

.scoreboard__controls-button {
  flex-grow: 1;
  border: none;
  background-color: #eee;
  cursor: pointer;
  font-size: 1.2em;
}

.team {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.team:not(.active) .player-circle {
  display: none;
}

.player-circle {
  position: relative;
  width: 20px; /* Increase the size of the circles */
  height: 20px; /* Increase the size of the circles */
  border-radius: 50%;
  background-color: #008000;
  margin: 5px;
  display: flex; /* Add these lines to center the text */
  justify-content: center; /* Add these lines to center the text */
  align-items: center; /* Add these lines to center the text */
  font-size: 0.8em; /* Decrease the font size */
}

.team-one .player-circle {
  left: 0;
}

.team-two .player-circle {
  right: 0;
}

/* New CSS */

#edit-numbers {
  display: block;
  margin: 10px auto;
  padding: 5px;
  background-color: #009578;
  color: white;
  border: none;
  cursor: pointer;
}

.player-circle[contenteditable='true'] {
  border: 1px solid #009578;
}

input[type='text'] {
  width: 20px; /* Match the width of the circles */
  height: 20px; /* Match the height of the circles */
  text-align: center; /* Center the text */
  font-size: 0.8em; /* Match the font size of the circles */
}

#save-numbers {
  display: block;
  margin: 10px auto;
  padding: 5px;
  background-color: #009578;
  color: white;
  border: none;
  cursor: pointer;
}
