body {
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
}

.teams-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.round-indicator {
  color: #2e8b57;
  text-align: center;
  margin: 10px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7vw;
}

#team-one-name,
#team-two-name {
  color: #2e8b57;
}

.scoreboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}

.scoreboard__name,
.scoreboard__score {
  text-align: center;
  font-size: 9vw;
}

.scoreboard__name {
  font-weight: bold;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #2e8b57;
}

.scoreboard__score {
  color: #2e8b57;
  font-size: 15em;
  padding: 1px;
}

.team {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#team-text-one{
  font-size:3vw;
}

#team-text-two{
  font-size:3vw;
}

.team-circles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.team:not(.active) .player-circle {
  display: none;
}

.player-circle {
  position: relative;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  background-color: #008000;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
}

#edit-numbers,
#save-numbers {
  display: none;
  margin: 10px auto;
  padding: 5px;
  background-color: #009578;
  color: white;
  border: none;
  cursor: pointer;
}

input[type='text'] {
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 0.8em;
}

#team-one-name input[type='text'],
#team-two-name input[type='text'] {
  width: 100px;
  height: 20px;
  text-align: center;
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
}

.outline-circle-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
}

.outline-circle {
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  border: 1px solid red;
  margin: 5px;
  display: none; /* Hide the circles initially */
}

/* Place the circles in the correct grid cells */
.outline-circle:nth-child(1) {
  grid-area: 2 / 1;
}
.outline-circle:nth-child(2) {
  grid-area: 1 / 2;
}
.outline-circle:nth-child(3) {
  grid-area: 2 / 2;
}
.outline-circle:nth-child(4) {
  grid-area: 3 / 2;
}
.outline-circle:nth-child(5) {
  grid-area: 1 / 3;
}
.outline-circle:nth-child(6) {
  grid-area: 2 / 3;
}
.outline-circle:nth-child(7) {
  grid-area: 3 / 3;
}
.outline-circle:nth-child(8) {
  grid-area: 1 / 4;
}
.outline-circle:nth-child(9) {
  grid-area: 2 / 4;
}
.outline-circle:nth-child(10) {
  grid-area: 3 / 4;
}
.outline-circle:nth-child(11) {
  grid-area: 2 / 5;
}

.team-text {
  text-align: center;
  margin-bottom: 10px;
}

#team-text-one {
  color: green;
}

#team-text-two {
  color: red;
}
